h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.linkone a {
  color: aquamarine;
}

.linkone {
  font-size: 16px;
  text-align: center;
}

body {
  background-color: black;
}
